<!DOCTYPE html>
<html>
<head>
    <title>falsk map</title>
</head>
<body>
    <h1>選擇地點</h1>
    <form method="POST">
        <select name="act">
            <option value="上車">上車</option>
            <option value="下車">下車</option>
        </select>
        <select name="location">
            <option value="曼哈頓">曼哈頓</option>
            <option value="布魯克林區">布魯克林區</option>
            <option value="皇后區(含機場)">皇后區(含機場)</option>
            <option value="布朗克斯">布朗克斯</option>
            <option value="史泰登島">史泰登島</option>
        </select>
        <button type="submit">提交</button>
    </form>
</body>
</html>
